body{
	font-family: Arial, Sant-Serif;
	font-size: 100%;
	background-color:	red;
}
header{
	padding: 50px 0;
	background-color:
}
h1, h2{
	color:#00FFFF	;
	text-align: center;

}
@keyframes moveBox {

    0% { transform: translateX(0); }

    50% { transform: translateX(400px); }

    100% { transform: translateX(0); }

}


.box {

    width: 100px;

    height: 100px;

    background-color: green;

    margin-top: 20px;

    animation: moveBox 4s infinite;

border-radius: 50%;

}

